<%-include header.ejs%>
<%
  posts.forEach(function(post,index){
%>
  <div class="post-info">
    <span><%=index +1%> <a href="/post/detail/<%=post.title%>"> <%=post.title%></a></span> |  <span><%=post.name%></span> | <a href="/delete/post/<%=post.title%>">delete</a>
  </div>
<%
  });
%>
<%-include footer.ejs%>
