<%-include header.ejs%>

 <p>Title:<%=post.title%></p>
 <p><%- post.content%></p>
 <p>Author:<%=post.name%> at <%=post.time%></p>

 <hr>
<%=success%>
<%=error%>
<%- include comment %>

<%-include footer.ejs%>