<%-include header %>
<%
  if(user){
     
%>
    <p>username: <%=user.name %></p>
    <p>password: <%=user.password %></p>
<%

   }

   if(post){
    %>
    <p>title: <%=post.title %></p>
    <p>content: <%- post.content %></p>
<%
   }
%>
<%-include footer %>